[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
imutils = "*"
tinydb = "*"
flask = "*"
flask-ngrok = "*"
mysql-connector = "*"
opencv-python = "*"
cmake = "*"

[dev-packages]

[requires]
python_version = "3.9"
